server:
  port: 5012

spring:
  application:
    name: pay-request-processor-service

  jpa:
    properties:
      hibernate:
        default_schema: pay-request-processor

  flyway:
    schemas: pay-request-processor
    enabled: true

  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    openfeign:
      micrometer:
        enabled: true   # Enables tracing & metrics for Feign

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    instance:
      hostname: localhost
      ip-address: 127.0.0.1
      prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

  tracing:
    sampling:
      probability: 1.0    # trace all requests (reduce in prod)

  otlp:
    tracing:
      endpoint: http://localhost:4318/v1/traces  # Jaeger OTLP

logging:
  pattern:
    correlation: "[%X{traceId:-},%X{spanId:-}] "