server:
  port: 5012

spring:
  application:
    name: pay-request-processor-service

  jpa:
    properties:
      hibernate:
        default_schema: pay-request-processor

  flyway:
    schemas: pay-request-processor
    enabled: true

  config:
    import: optional:configserver:http://localhost:8888

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    instance:
      hostname: localhost
      ip-address: 127.0.0.1
      prefer-ip-address: true
